<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>阿坝藏族羌族自治州</string>
        <string>阿克苏地区</string>
        <string>阿拉尔市</string>
        <string>阿拉善盟</string>
        <string>阿勒泰地区</string>
        <string>阿里地区</string>
        <string>安康市</string>
        <string>安庆市</string>
        <string>安顺市</string>
        <string>安阳市</string>
        <string>鞍山市</string>
        <string>澳门特别行政区</string>
        <string>巴彦淖尔市</string>
        <string>巴音郭楞蒙古自治州</string>
        <string>巴中市</string>
        <string>白城市</string>
        <string>白沙黎族自治县</string>
        <string>白山市</string>
        <string>白银市</string>
        <string>百色市</string>
        <string>蚌埠市</string>
        <string>包头市</string>
        <string>宝鸡市</string>
        <string>保定市</string>
        <string>保山市</string>
        <string>保亭黎族苗族自治县</string>
        <string>北海市</string>
        <string>北京市</string>
        <string>本溪市</string>
        <string>毕节地区</string>
        <string>滨州市</string>
        <string>亳州市</string>
        <string>博尔塔拉蒙古自治州</string>
    </array>
</plist>